<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
  <key>method</key>
  <string>ad-hoc</string>
  <key>signingStyle</key>
  <string>manual</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>wiappleakmsastop</key>
    <string>account</string>
  </dict>
  <key>teamID</key>
  <string>W9Z3U5W8XX</string>
</dict>
</plist>
